# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Miscellaneous excludes
\#*
*~
build/
algorithms/multicut.cpp
algorithms/lifted_multicut.cpp
evaluation/comparestacks.cpp
skeletonization/teaser_skeletons.cpp
transforms/distance.cpp
transforms/seg2seg.cpp
transforms/seg2gold.cpp


# ignore temp paper files
papers/cvpr2018/paper.aux
papers/cvpr2018/paper.bbl
papers/cvpr2018/paper.blg
papers/cvpr2018/paper.brf
papers/cvpr2018/paper.log
papers/cvpr2018/paper.synctex.gz
papers/cvpr2018/paper.pdf

papers/eccv2018/paper.aux
papers/eccv2018/paper.bbl
papers/eccv2018/paper.blg
papers/eccv2018/paper.brf
papers/eccv2018/paper.log
papers/eccv2018/paper.synctex.gz
papers/eccv2018/paper.pdf
